<body>
    <div class="collapsible collapsible--expanded">
      <header class="collapsible__header">
        <h2 class="collapsible__heading">Item 1</h2>

        <svg class="icon collapsible__wordpress">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </header>
      <div class="collapsible__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt,
        exercitationem?
      </div>
    </div>
    <script src="js/main.js"></script>
  </body>