<body>
  
    <div class="media">
      <div class="media__image">
        <svg class="icon">  
          <use xlink:href="images/sprite.svg#snap"></use>         
        </svg>  

      </div>
      <div class="media__body">
        <h3 class="media__title">Easy Start and Managed Update</h3>
        <P>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas laudantium reprehenderit, porro sint neque, dignissimos minus eius soluta maiores assumenda est perspiciatis tempora recusandae maxime deleniti libero accusamus aspernatur. Porro.</P>

      </div>
    </div>
  </body>